{% extends "base.html" %}
{% block title %}
Components
{% endblock %}
{% block content %}
<h1 style="display: inline-block; padding-right: 5px; padding-bottom: 5px;">
    Components 
    <button class="btn btn-sm btn-success rounded-circle" style="width: 31px;" onClick="window.location.href='/components/add'">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</h1>
<div class="mb-2">
    <form>
        {% if search %}
        <input class="rounded-pill w-25" type="search" name="search" id="search" placeholder=" Search" value="{{search}}"></input>
        {% else %}
        <input class="rounded-pill w-25" type="search" name="search" id="search" placeholder=" Search"></input>
        {% endif %} 
        <button type="submit" class="btn btn-sm btn-primary rounded-circle" style="width: 31px;"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
</div>
<span>Found {{ pagination.total }} result(s)</span>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Description</th>
            <th scope="col">Location</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for component in pagination.items %}
        <tr>
            <td>
                <a href="/components/view/{{component.id}}">{{ component.name }}</a>
            </td>
            <td>
                {% if component.value %}
                    {{ component.value }}
                {% endif %}
            </td>
            <td>
                {% if component.description %}
                    {{ component.description }}
                {% endif %}
            </td>
            <td>
                {% if component.location %}
                    {{ component.location }}
                {% endif %}
            </td>
            <td style="width: 191px;" class="align-middle">
                <button type="button" class="btn" onClick="removeOne({{ component.id }})">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
                <div class="bg-light border rounded-pill align-middle" style="display: inline-block;width: 80px; overflow: hidden; white-space: nowrap;">
                    <span style="text-overflow: ellipsis;" id="amount-{{ component.id }}">{{ component.amount }}</span>
                </div>
                <button type="button" class="btn" onClick="addOne({{ component.id }})">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if pagination.has_prev %}
<span>
    <a class='page-number' href="{{ url_for('components.list', page=pagination.prev_num) }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
</span>
{% endif %}
<span>Page {{ pagination.page }} of {{ pagination.pages }}</span>
{% if pagination.has_next %}
<span>
    <a class='page-number'
        href="{{ url_for('components.list', page=pagination.next_num) }}">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
</span>
{% endif %}
{% endblock %}