<html lang="en">
  <head>
	<meta charset="utf-8" />
	<meta
	  name="viewport"
	  content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css')}}" />

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>

  <body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	  <span class="navbar-brand">Navbar</span>

	  <div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="{{ url_for('home') }}">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{{ url_for('about') }}">About</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
		  </li>
		  <li class="nav-item dropdown">
			<a
			  class="nav-link dropdown-toggle dropdown-custom"
			  data-toggle="dropdown"
			  aria-haspopup="true"
			  aria-expanded="false"
			  >Dropdown</a
			>
			<div class="dropdown-menu" aria-labelledby="dropdown01">
			  <a class="dropdown-item" href="#">Action</a>
			  <a class="dropdown-item" href="#">Another action</a>
			  <a class="dropdown-item" href="#">Something else here</a>
			</div>
		  </li>
		</ul>
	  </div>
	</nav>

	<main role="main" class="container">
	  <div class="body-content">{% block content %} {% endblock %}</div>
	</main>

	<footer class="py-5 container">
	  <div
		class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
	  >
		<ul class="list-unstyled d-flex">
		  <li>
			Copyright © 2023 Joonas Kaal -
			<a href="https://github.com/jokaal/electronic-component-storage"
			  >GitHub</a
			>
		  </li>
		</ul>
	  </div>
	</footer>
  </body>
</html>
