{% extends "base.html" %}
{% block title %}
Projects
{% endblock %}
{% block content %}
<h1 style="display: inline-block; padding-right: 5px; padding-bottom: 5px;">
    Projects 
    <button class="btn btn-sm btn-success rounded-circle" style="width: 31px;" onClick="window.location.href='create'">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</h1>
<div class="mb-2">
    <form>
        {% if search %}
        <input class="rounded-pill w-25" type="search" name="search" id="search" placeholder=" Search" value="{{search}}"></input>
        {% else %}
        <input class="rounded-pill w-25" type="search" name="search" id="search" placeholder=" Search"></input>
        {% endif %} 
        <button type="submit" class="btn btn-sm btn-primary rounded-circle" style="width: 31px;"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
</div>
<span>Found {{ pagination.total }} result(s)</span>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="w-25">Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for project in pagination.items %}
        <tr>
            <td>
                <a href="/projects/view/{{project.id}}">{{ project.name }}</a>
            </td>
            <td>
                {{ project.created_at }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if pagination.has_prev %}
<span>
    <a class='page-number' href="{{ url_for('projects.list', page=pagination.prev_num) }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
</span>
{% endif %}
<span>Page {{ pagination.page }} of {{ pagination.pages }}</span>
{% if pagination.has_next %}
<span>
    <a class='page-number'
        href="{{ url_for('projects.list', page=pagination.next_num) }}">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
</span>
{% endif %}
{% endblock %}