{% extends "base.html" %}
{% block title %}
Components
{% endblock %}
{% block content %}
<h1 style="display: inline-block; padding-right: 5px; padding-bottom: 5px;">
    Select a component for the project '{{project.name}}'
</h1>
<div class="mb-2">
    <form style="display: inline;">
        {% if search %}
        <input class="rounded-pill w-25" type="search" name="search" id="search" placeholder=" Search" value="{{search}}"></input>
        {% else %}
        <input class="rounded-pill w-25" type="search" name="search" id="search" placeholder=" Search"></input>
        {% endif %} 
        <button type="submit" class="btn btn-sm btn-primary rounded-circle" style="width: 31px;"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <button class="btn btn-sm btn-success rounded-circle" style="width: 31px;" onClick="window.location.href='/components/add/projectComponent/{{projectComponent.id}}'">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>
<span>Found {{ pagination.total }} result(s)</span>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Description</th>
            <th scope="col">Location</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for component in pagination.items %}
        <tr>
            <td>
                <a href="/components/view/{{component.id}}">{{ component.name }}</a>
            </td>
            <td style="width: 5%;">
                {% if component.value %}
                    {{ component.value }}
                {% endif %}
            </td>
            <td style="width: 30%;">
                {% if component.description %}
                    {{ component.description }}
                {% endif %}
            </td>
            <td style="width: 20%;">
                {% if component.location %}
                    {{ component.location }}
                {% endif %}
            </td>
            <td style="width: 5%;">
                {{ component.amount }}
            </td>
            <td>
                <button class="btn btn-sm btn-primary rounded-pill" onclick="chooseComponentForProject({{projectComponent.id}}, {{component.id}}, {{project.id}})">
                    Select
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if pagination.has_prev %}
<span>
    <a class='page-number' href="{{ url_for('components.list', page=pagination.prev_num) }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
</span>
{% endif %}
<span>Page {{ pagination.page }} of {{ pagination.pages }}</span>
{% if pagination.has_next %}
<span>
    <a class='page-number'
        href="{{ url_for('components.list', page=pagination.next_num) }}">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
</span>
{% endif %}
{% endblock %}