{% extends "base.html" %}
{% block title %}
Project
{% endblock %}
{% block content %}
{% if referrer %}
<h5><a href="{{ referrer }}">Back</a></h5>
{% else %}
<h5><a href="/projects">Back</a></h5>
{% endif %}
<h1>Project: {{ project.name }}
    <button class="btn btn-sm btn-warning rounded-circle" style="width: 31px;" onClick="window.location.href='../edit/{{project.id}}'">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-sm btn-danger rounded-circle" style="width: 31px;" onClick="deleteProject({{ project.id }})">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</h1>
<h5 class="text-muted">{{ project.created_at }}</h5>
<hr>
<h3>Components
    <button class="btn btn-sm btn-success rounded-circle" style="width: 31px;" onClick="addComponentToProject({{ project.id }})">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <button class="btn btn-sm btn-secondary rounded-pill">
        <i class="fa fa-upload" aria-hidden="true"></i> Import
    </button>
</h3>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Location</th>
            <th scope="col">Comment</th>
            <th scope="col">Amount in storage</th>
            <th scope="col">Amount needed</th>
        </tr>
    </thead>
    <tbody>
        {% for projectComponent in projectComponents|reverse %}
        <tr
        {% if projectComponent.component.amount == 0 %}
        class="table-danger"
        {% endif %}
        >
            <td>
                {% if projectComponent.component %}
                <a href="/components/view/{{projectComponent.component.id}}">{{ projectComponent.component.name }}</a>
                {% else %}
                <button class="btn btn-sm btn-primary rounded-pill" onclick="window.location.href='/projects/project-component/{{projectComponent.id}}';">
                    Choose
                </button>
                {% endif %}
            </td>
            <td style="width: 10%;">
                {% if projectComponent.component.value %}
                    {{ projectComponent.component.value }}
                {% endif %}
            </td>
            <td style="width: 20%;">
                {% if projectComponent.component.location %}
                    {{ projectComponent.component.location }}
                {% endif %}
            </td>
            <td style="width: 20%;">
                {% if projectComponent.comment %}
                    {{ projectComponent.comment }}
                {% endif %}
                <button class="btn btn-sm btn-warning rounded-circle" style="width: 31px; float: right;" onClick="editProjectComponentComment({{projectComponent.id}}, {{projectComponent.project.id}})">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </td>
            <td style="width: 5%;">
                {{ projectComponent.component.amount }}
            </td>
            <td style="width: 5%;">
                {{ projectComponent.amount }}
                <button class="btn btn-sm btn-warning rounded-circle" style="width: 31px; float: right;" onClick="editProjectComponentAmount({{projectComponent.id}}, {{projectComponent.project.id}})">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </td>
            <td style="width: 5%;">
                <button type="button" class="btn btn-sm btn-danger rounded-circle" style="width: 31px;" onClick="deleteProjectComponent({{projectComponent.id}}, {{projectComponent.project.id}})">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if buildInProgress %}
    <hr>
    <h4>Build currently in progress.</h4>
    <form method="GET" action="/projects/build/{{project.id}}">
        <input type="hidden" id="continue" name="continue" value="true">
        <button class="btn btn-sm btn-primary rounded-pill" style="display: inline;" type="submit">
            Continue
        </button>
    </form>
{% else %}
    {% if buildMax <= 1000000 %}
    <hr>
    <h4>You can build this project {{ buildMax }} time(s).</h4>
        {% if buildMax > 0 %}
        <form method="POST" action="/projects/build/{{project.id}}">
            Start building this project <input name="buildAmount" id="buildAmount" class="form-control" style="width: 5rem; display: inline;" type="number" placeholder="0" min="0" max="{{buildMax}}" required></input> times
            <button class="btn btn-sm btn-primary rounded-pill" style="display: inline;" type="submit">
                Confirm
            </button>
        </form>
        {% endif %}
    {% endif %}
{% endif %}

{% endblock %}